/var/lib/docker/containers/*/*.log
/var/log/messages
/var/log/messages-*
{
    {{LOGROTATE_MODE}}
    missingok
    rotate {{LOGROTATE_ROTATE}}
    nocompress
    notifempty
    copytruncate
#    compress
}